<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCu23hydpd4ZuLSxkUgy-cli7kxf1-2BzU</string>
	<key>GCM_SENDER_ID</key>
	<string>814889837143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-8a444</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-8a444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814889837143:ios:99babd23f7192f7439b912</string>
</dict>
</plist>